{% extends 'todoList/base.html' %}


{% block mainContent%}

  <!-- Main Content -->
  <main class="flex-grow p-6">
    <div class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden md:max-w-2xl">
        <div class="md:flex">
            <div class="p-8 w-full">
                <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">To-Do List</div>
                
                <div class="mt-4 flex justify-around">
                    <a href="{%url 'todoList:index' %}?filter=undone" class="px-4 py-2 bg-gray-200 text-gray-800 text-sm font-medium rounded-md hover:bg-gray-300">Undone</a>
                    <a href="{%url 'todoList:index' %}?filter=done" class="px-4 py-2 bg-gray-200 text-gray-800 text-sm font-medium rounded-md hover:bg-gray-300">Done</a>
                    <a href="{%url 'todoList:index' %}?filter=deleted" class="px-4 py-2 bg-gray-200 text-gray-800 text-sm font-medium rounded-md hover:bg-gray-300">Deleted</a>
                </div>

                <div class="mt-2">
                    <ul class="space-y-4">
                        {% for task in filteredList%}
                        <li class="flex items-center justify-between">
                            {% if task.isDone %}
                            <span class="text-gray-700"><strike>{{task.taskName}}</strike></span>
                            {% else  %}
                            <span class="text-gray-700">{{task.taskName}}</span>
                            {% endif %}
                            <div>
                                {% if task.isDone %}
                                <a href="{% url 'todoList:update' task.id%}" class="px-2 py-1 bg-yellow-500 text-white text-xs font-medium rounded-md hover:bg-yellow-700">Undone</a>
                                {% else  %}
                                <a href="{% url 'todoList:update' task.id%}" class="px-2 py-1 bg-green-500 text-white text-xs font-medium rounded-md hover:bg-green-700">Done</a>
                                {% endif %}
                                {% if task.isDeleted %}
                                <button type='button' class="px-2 py-1  text-xs font-medium rounded-md ml-2 cursor-not-allowed" disabled>Already Deleted</button>
                                {% else %}
                                <a href= "{% url 'todoList:delete' task.id%}" class="px-2 py-1 bg-red-500 text-white text-xs font-medium rounded-md hover:bg-red-700 ml-2" >Delete</a>
                                {% endif %}
                                
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="mt-4">
                    {% if messages %}
                    {% for message in messages%}
                    <div id="notification" class="mt-4 p-4 bg-red-100 border border-red-400 text-red-700 rounded-md">
                        {{message}}
                    </div>
                    {% endfor%}
                    {% endif %}
                    <form method='POST'> 
                        {% csrf_token %}
                        <input type="text" name='taskSubject' placeholder="New task..." class="px-3 py-2 border rounded-md w-full mb-2">
                        <input type="submit" class="px-4 py-2 bg-indigo-500 text-white text-sm font-medium rounded-md hover:bg-indigo-700" value='Add task'>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock mainContent%}